# Binaries for programs and plugins.
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test

# Output of the go coverage tool, specifically when used with LiteIDE.
*.out

# Test artifacts
/limittest/memory

# Go workspace file.
go.work

# Ignore local configurations.
.envrc
